<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.3.xsd">
			
		<!-- Seta anotações para serem usadas pelo spring -->
<!-- 	<context:annotation-config /> -->

	<!--Define o pacote onde o spring vai buscar por beans anotados -->
	<context:component-scan
		base-package="com.alamo.dao;
		com.alamo.rn;
		com.alamo.facade;
		com.alamo.bean;
		com.alamo.enums;
		com.alamo.util;
		com.alamo.filter;" />

	<!-- Define que as transações serão anotadas -->
<!-- 	<tx:annotation-driven /> -->
	
	<bean id="alamoDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>java:comp/env/jdbc/alamoDB</value>
		</property>
	</bean>
</beans>